name: Reusable Workflow
on: 
  workflow_call:
    inputs:
      artifact-name:
        description: 'Name of the artifact to download'
        required: false
        default: 'dist'
        type: string
    secrets:
      Deploy_Key:
        description: 'Secrets to use in the workflow'
        required: true

jobs: 
    deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/download-artifact@v4
            with:
              name: ${{ inputs.artifact-name }}
          - name: Output contents
            run: ls
          - name: Output Information
            run: |
             echo "Deploying the website..."
             echo "Using secret Deploy_Key: ${{ secrets.Deploy_Key }} and vars: ${{ vars.MYAPPNAME}}"