name: Reusable Workflow
on: 
  workflow_call:
    inputs:
      artifact-name:
        description: 'Name of the artifact to download'
        required: false
        default: 'dist'
        type: string
    outputs:
      deploy-output:
        description: 'Status of the deployment'
        value: ${{ jobs.deploy.outputs.outcome }}
    secrets:
      Deploy_Key:
        description: 'Secrets to use in the workflow'
        required: true

jobs: 
    deploy:
        outputs:
          outcome: ${{ steps.deploy-step.outputs.deploy-status }}
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/download-artifact@v4
            with:
              name: ${{ inputs.artifact-name }}
          - name: Output contents
            run: ls
          - name: Output Information
            run: |
             echo "Deploying the website..."
             echo "Using secret Deploy_Key: ${{ secrets.Deploy_Key }} and vars: ${{ vars.MYAPPNAME}}"
          - name: Set deploy status
            id: deploy-step
            run: echo "::set-output name=deploy-status::success"